<section class="bg-jennyland-color-white">
  <div
    class="grid max-w-screen-xl px-4 pt-4 mx-auto lg:gap-8 xl:gap-0 lg:py-4 lg:grid-cols-12"
  >
    <div class="mr-auto place-self-center lg:col-span-7">
      <h1
        class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl"
      >
        Créatice artisanales
      </h1>
      <p
        class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl"
      >
        Décorations uniques, faites main pour une décoration chaleureuse et
        personnalisée.
      </p>

      <div class="flex gap-3 items-center justify-center">
        <a
          href="#about"
          class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-white bg-jennyland-color-red rounded-lg"
        >
          En savoir plus sur moi
        </a>
        <a
          href="#about"
          class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-white bg-jennyland-color-brown rounded-lg"
        >
          Voir mes créations
        </a>
      </div>
    </div>
    <div
      class="lg:w-full lg:col-span-5 flex flex-col justify-center items-center p-4"
    >
      <img
        class="rounded-xl w-[300px] lg:w-full"
        src="/img/pp.jpg"
        alt="mockup"
      />
    </div>
  </div>
</section>
