---

---

<nav class="bg-jennyland-color-red shadow-sm">
  <div
    class="container mx-auto px-4 py-4 flex justify-between items-center h-[10vh]"
  >
    <a href="/" class="text-2xl font-bold">
      <img
        src="/jennyland-remove-bg.png"
        class="absolute z-50 top-0 h-[11vh]"
        alt=""
      />
    </a>
    <ul class="flex space-x-6">
      <li><a href="#products" class="hover:">Produits</a></li>
      <li><a href="#contact" class="hover:">Contact</a></li>
    </ul>
  </div>
</nav>
